###########################
# Heater Settings         #
# 230V, 750W Bed Heater   #
# 24v, 50W Hot-end Heater #
###########################
###CDW 10/23/2025 added the PId control   

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA3
sensor_type: NTC 100K MGB18-104F39050L32    #NTC 100K beta 3950
sensor_pin: PF3 #TB Label
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.95
min_temp: 0
max_temp: 120
#pwm_cycle_time: 0.02    # 50hz for european AC, to avoid flickering lights.
pwm_cycle_time: 0.0167      # 60 HZ for US AC to avoide flickering lights
control: pid
pid_Kp=24.037 
pid_Ki=0.382 
pid_Kd=378.433

[verify_heater heater_bed]
hysteresis: 2.5
check_gain_time: 240

#------------------------------------------------------------------
#   =================   Chamber Heater               ==============
#------------------------------------------------------------------

#Pin: PA2
[heater_generic Chamber_heater]
#gcode_id:
#   The id to use when reporting the temperature in the M105 command.
#   This parameter must be provided.
heater_pin: PA2
max_power: 1
sensor_type: Generic 3950
sensor_pin: PF4
smooth_time: 1.0
control: watermark
#pid_Kp:
#pid_Ki:
#pid_Kd:
#pwm_cycle_time:
min_temp:0
max_temp:100

